<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">Wim</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="index.html">LWH<span class="sr-only">(current)</span></a></li>
        <li><a href="climbing.html">Climbing</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">

      
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Externe links <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">LWH</li>
            <li><a href="http://bartaelterman.github.io/long-race-home/frontend/" target="_blank">LWH (officieel)</a></li>
            <li><a href="http://www.gpsvisualizer.com/" target="_blank">GPS Visualiser</a></li>
            <li><a href="http://www.gpsvisualizer.com/" target="_blank">Garmin Virtual Partner</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
